:root {
    --primaryBg: #f1f6fd;
    --primaryText: #333333;
    --primaryBorder: #dde4e8;

    --secondaryText: #688696;

    --themeBg: #009fe3;

    --errorBg: #ff055b;

    /* GENERIC COLORS */
    --white: #ffffff;
    --black: #000000;


    /* FORM COLORS */
    --inputLabelText: #5c7a84;
    --inputPlaceholder: #a9bcc6;


    /* MODAL COLORS */
    --modalOverlay: rgba(255, 255, 255, 0.7);
    --modalShadow: rgba(0, 0, 0, 0.2);
}
