* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: var(--primaryBg);
  color: var(--primaryText);
  font-size: 14px;
}
