.wrapper {
    padding: 24px;
}

.actionBar {
    display: flex;
    justify-content: space-between;
    padding: 0 0 16px;
}

.content {
    height: calc(100vh - 160px);
    overflow: auto;
}

.searchInput {
    width: 340px;
    margin: 0;
}

.addButton {
    min-width: auto;
    width: 120px;
}
